mat-card{
    background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}

a{
    color:blue;
}
.host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.mat-form-field{
    width: 100%;
    min-width: 300px;
}

.btn-google{
    background-color: #dd4b39;
    color: #fff;
    width: 100%;
}

mat-card-title,
mat-card-content{
    display: flex;
    justify-content: center;
    opacity: 150%;
    border: rgb(15, 14, 14) 10px;
}

button{
   width: 100%;
}




