<div class="background">
<mat-card>
    
    <mat-card-content>
        <form [formGroup]="loginForm">  
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="UserName" formControlName="email" />
                    <mat-error *ngIf="loginForm.get('email').errors?.required" >
                        Required Email Adress
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput [type]="hide ? 'password' : 'text'" required placeholder="Password" formControlName="password" />
                    <button mat-mat-icon-button matSuffix (click) = "hide = !hide"
                        [attr.area-label]="'Hide Password'" [attr.aria-pressed]="hide">
                        <mat-icon aria-hidden="false">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password').errors?.required" >
                        Required Password
                    </mat-error>
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary" (click)="onLogin(loginForm.value)"> 
                Login
            </button>
            <p></p>
            <button class="btn-google" mat-raised-button color="danger" (click)="onGoogleLogin()">
                Login with Google
            </button>  

            <p>{{message}}</p>
            <div>
                <p>
                    Create an account ? <a [routerLink]="['/register']">Register </a>
                </p>
            </div>
            <div>
                <p>
                    Forgot Password ? <a [routerLink]="['/forgot-password']">Forgot Password ? </a>
                </p>
            </div>
        </form>    
            
    </mat-card-content>
</mat-card>
</div>