
mat-spinner{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.loading {
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;   

}

.container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;
   
    a{
        cursor: pointer;
        color: #fff;
        text-decoration:none;
    }
    h1{
        text-align: center;
        
    }
} 

.pet-card{
    background: #94225e;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size:150%;

    img{
        height: 200px;
    }

    p.content{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
