.background{
    background-color: #82a0d2;

}

.font1 {
    font-size: 60px;
    text-align: center;
    color: white;
}

.font2 {
    font-size: 36px;
    text-align: center;
    color: white;
}

.centrado{
    margin:10px auto;
    display:block;
    height: auto; 
    width: auto; 
    max-width: 1000px; 
    max-height: 1000px;
    background-image: none;
  }
