<!-- <div class="container">
    <mat-card class="pet-card" *ngFor="let pet of pets">
        <img matCardImage [src]="pet.imagePet" [routerLink]="['/pet', pet.id]">
        <mat-card-header>
            <mat-card-title>
                <a>{{pet.namePet}}</a>
            </mat-card-title>   
        </mat-card-header>
        
        <mat-card-content>
            <p>
                 {{pet.zoneFoundPet}}
            </p>
            <p> {{pet.typepet}}  {{pet.breedpet}}</p>
        </mat-card-content>       
    </mat-card>
</div> -->