
.logousuario{
  position: relative;
  height: 5%; 
  width: 5%; 
  top: 10px;
  background-color: transparent;
  color: #fff;
  
}

a{
  color:#fff;
}

span{
  margin-right: auto;
}

button{
  position: relative;
  top: 10px;
  color: #fff;
  border:1px solid #fff;
}

.opcionesmenu{
  color:black;
}






