span{
  margin-right: auto;
  
}

mat-toolbar{
  flex: 1 1 auto;
  position: relative;
  top: -10px;
}

.opcionesmenu{
  color: black;
}


a{
  color:#fff;
}

button{
  position: relative;
  top: auto;
  color: #fff;
  border:1px solid #fff;
}




