<mat-toolbar color="primary">
   
    <span class="fill-remaining-space">
          <a routerLink="/" routerLinkActivate="Activate">
            <button mat-button class="logomenu">
               <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
           </button>
          </a>
    </span>
         
    <span *ngIf="this.authService.getToken() else login" >
       <a>    
          <button mat-button [matMenuTriggerFor]="animals">
             <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
          </button>
          <mat-menu #animals="matMenu">
          <button class="opcionesmenu" mat-menu-item [matMenuTriggerFor]="ListPets">Lost Pets</button>
      
         <a routerLink="/newpet" routerLinkActivate="Activate">
             <button class="opcionesmenu" mat-menu-item >Found New Pet ? </button>
         </a>
         <a routerLink="/about" routerLinkActivate="Activate">
            <button class="opcionesmenu" mat-menu-item >About</button>
         </a>
         
         </mat-menu>
         <mat-menu #ListPets="matMenu">

          <a [routerLink]="['/pets']" [queryParams]="{ typepet: 'Cat'}"  routerLinkActivate="Activate">
            <button class="opcionesmenu" mat-menu-item>Cats</button>
         </a>
         <a [routerLink]="['/pets']" [queryParams]="{ typepet: 'Dog'}"  routerLinkActivate="Activate">
             <button class="opcionesmenu" mat-menu-item >Dog</button>
         </a>
         <a routerLink="/pets" routerLinkActivate="Activate">
          <button class="opcionesmenu" mat-menu-item >All</button>
        </a>


         </mat-menu>
  
        </a>

        <a>        
            <button mat-button [matMenuTriggerFor]="menu2" class="logomenu">
                <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
            </button>
     
        <mat-menu #menu2="matMenu">
          <a (click)="profileView()">
            <button  mat-menu-item class="opcionesmenu">Modificar Perfil</button>
          </a>
          <a (click)="onLogout()">
            <button mat-menu-item class="opcionesmenu">Logout</button>
          </a>
        </mat-menu>
         </a>
   </span>

    <ng-template #login>
        <a routerLink="/register" 
        routerLinkActivate="Activate">
        <button mat-button>Register</button></a>
    
        <a routerLink="/login" 
           routerLinkActivate="Activate">
           <button mat-button>Login</button></a>
        <a routerLink="/about" 
           routerLinkActivate="Activate">
            <button mat-button>About</button>  
        </a> 
    </ng-template>
</mat-toolbar>